@if (ViewBag.User1 == null && ViewBag.Id == null || ViewBag.User1 == "" && ViewBag.Id == "" || ViewBag.User1 == "Login" && ViewBag.Id == "")
{
    ViewBag.Href = "Login";
    ViewBag.User1 = "Login";
}



<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Error al procesar la solicitud.</h2>
    </hgroup>
</body>
</html>
